/* HEADER */
.main-header {
  /*  */
  gap: 16px;
  display: flex;
  justify-content: center;
  /*  */
  margin-bottom: 16px;
}

/* IMAGES */
.header__image-container {
  width: 48%;
  position: relative;
  cursor: pointer;
}

.header__image {
  width: 100%;
  transition: 2s all ease;
}
.header__image:hover {
  filter: none;
}

/* TITLES */
.header__title {
  /*  */
  color: #fff;
  /*  */
  z-index: 999;
  position: absolute;
  /*  */
  mix-blend-mode: difference;
  transition: 2s all ease;
}

.header__title--1 {
  /*  */
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  /*  */
  font-size: 170px;
  line-height: 0.8;
}

.header__title--1--big {
  font-size: 220px;
}

.header__title--2 {
  /*  */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*  */
  line-height: 0.4;
  font-size: 220px;
  text-align: center;
}

.header__title--2--small {
  font-size: 100px;
}
