/* CONTAINER */
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

/* LOGO */
.nav__logo {
  font-size: 92px;
}

/* LINKS */
.nav__links {
  gap: 96px;
  display: flex;
  align-items: center;
  /*  */
  list-style: none;
}

.nav__links a {
  /*  */
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "gt-america";
}

.nav__menu {
  cursor: pointer;
}
