:root {
  --threshold: 50%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* TEXT */
  color: #fff;
  line-height: 1;
  font-family: "gt-america";
  /* BG */
  background-color: #000;
}
