@font-face {
  font-family: "gt-america";
  font-weight: bold;
  src: url("../../fonts/gt-america/GT-America-Expanded-Bold-Trial.otf");
}
@font-face {
  font-family: "gt-america";
  font-weight: normal;
  src: url("../../fonts/gt-america/GT-America-Standard-Regular-Trial.otf");
}
@font-face {
  font-family: "gt-america";
  font-weight: 400;
  src: url("../../fonts/gt-america/GT-America-Extended-Light-Trial.otf");
}
@font-face {
  font-family: "gt-america";
  font-weight: 100;
  src: url("../../fonts/gt-america/GT-America-Expanded-Thin-Trial.otf");
}
@font-face {
  font-family: "gt-america";
  font-weight: 200;
  src: url("../../fonts/gt-america/GT-America-Expanded-Light-Trial.otf");
}
@font-face {
  font-family: "gt-america";
  font-weight: 300;
  src: url("../../fonts/gt-america/GT-America-Expanded-Medium-Trial.otf");
}

@font-face {
  font-family: "old-london";
  src: url("../../fonts/old-london/OldLondon.ttf");
}
